<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>vagrant</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ~/cd-prototype/stages/dev
vagrant destroy -f || true
vagrant up --provider vmware_fusion
echo &quot;Performing HTTP listen:&quot;
nc -z 172.16.3.16 80
if [  $? != 0 ]; then echo &quot;FAILED&quot;; exit 1;fi
echo &quot;HTTPD is listening&quot;

echo &quot;Performing MySQL connect test&quot;:
nc -z 172.16.3.12 3306
if [  $? != 0 ]; then echo &quot;FAILED&quot;; exit 2;fi
echo &quot;HTTPD is listening&quot;

vagrant destroy -f</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>promote config set</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>